<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Open Github PWA is a template for building PWA with github pages">
    <!--Social meta-->
    <meta property="og:title" content="SSD Network Monitoring" />
    <meta property="og:url" content="" />
    <meta property="og:description"
        content="This is a PWA boilerplate, with cache busting mechanism and preconfigured Github Pages deployment" />
    <meta property="og:image" content="/assets/icons/icon.png" />
    <meta property="og:type" content="website" />
    <meta name="theme-color" content="#005dab">
    <!---->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="manifest.json">
    <title>Network Monitoring System</title>
    <link rel="stylesheet" href="css/style.css">
    
</head>
<body>
    <div class="title-header"><h2>Network Monitoring System</h2></div>
    <div class="table-container">
    <table class="table table-bordered new-table" width="100%">
        <thead>
            <tr>
                <th class="fixed-width">Store Code</th>
                <th class="fixed-width">IP</th>
                <th class="fixed-width">Current IP</th>
                <th class="fixed-width">Previous timestamp</th>
                <th class="fixed-width"> Current timestamp</th>
                <th >Connection</th>
            </tr>
        </thead>
        <tbody class="tbl-body">
        </tbody>
  </table>
  <!-- <div id="loader" class="loader"></div></div> -->
</body>
<script defer src="js/settings.js"></script>
<script defer src="js/install-handler.js"></script>
<script defer src="js/main.js"></script>
</html>
